.filter-workflow: &filter-workflow
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      when: always
    - if: '$CI_COMMIT_BRANCH =~ /^(fix\/[\s\S]+|feat\/[\s\S]+|release\/\d+.\d+.\d+)$/'
      when: always
    - when: never

.filter-release: &filter-release
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - when: never

workflow:
  <<: *filter-workflow
  auto_cancel:
    on_new_commit: interruptible

stages:
  - test
  - build
  - artifacts
  - deploy

lint---job-1:
  stage: test
  image: node:22-alpine
  interruptible: true
  timeout: 2h
  before_script:
    - node -v
    - npm install
    - npm install -g typescript
  script:
    - echo "@$CI_PROJECT_ROOT_NAMESPACE:registry=https://${CI_SERVER_HOST}/api/v4/packages/npm/" > ./backend/.npmrc
    - echo "//${CI_SERVER_HOST}/api/v4/packages/npm/:_authToken=${CI_JOB_TOKEN}" >> ./backend/.npmrc
    - cd ./backend && npm install && npm run lint
    - echo "Lint finished"

build---job-1:
  <<: *filter-release
  stage: build
  image: node:22-alpine
  interruptible: true
  timeout: 2h
  before_script:
    - apk add --no-cache git
    - npm install
    - npm install -g typescript
  script:
    - cd ./frontend && npm install && npm run build
    - cd ../
    - npm ci --cache .npm --prefer-offline
    #- export GITLAB_TOKEN=$CI_JOB_TOKEN ## Issue: https://gitlab.com/gitlab-org/gitlab/-/issues/227578
    - npx semantic-release
  artifacts:
    expire_in: 1 hour
    paths:
      - "npmrc/"
      - "frontend/public/"
      - "frontend/dist/"
      - "frontend/node_modules/"

artifact---job-1:
  <<: *filter-release
  interruptible: true
  timeout: 2h
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: unix:///var/run/docker.sock
    DOCKER_TLS_CERTDIR: ""
    DOCKER_HUB_FM_IMAGE: docker.io/shellygroup/$CI_PROJECT_NAME
  image: docker:28.0.0
  stage: artifacts
  script:
    - git fetch --tags
    - GIT_TAG_VER=$(git tag --list | sort -V | tail -n1)
    - echo $GIT_TAG_VER
    - echo $GIT_TAG_VER >> ./.VERSION
    - rm .dockerignore
    - echo $CI_REGISTRY
    - mkdir ./npmrc/
    - echo "@$CI_PROJECT_ROOT_NAMESPACE:registry=https://${CI_SERVER_HOST}/api/v4/packages/npm/" > ./npmrc/.npmrc
    - echo "//${CI_SERVER_HOST}/api/v4/packages/npm/:_authToken=${CI_JOB_TOKEN}" >> ./npmrc/.npmrc
    - echo "$CI_JOB_TOKEN" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
    - echo "$DOCKER_IO_PASSWORD" | docker login "docker.io" -u "ogystoev" --password-stdin
    - docker buildx create --use --name multiarch-builder
    - docker buildx inspect --bootstrap
    - docker buildx build --platform linux/amd64,linux/arm64 -t $CI_REGISTRY_IMAGE:$GIT_TAG_VER -t $CI_REGISTRY_IMAGE:latest -t $DOCKER_HUB_FM_IMAGE:$GIT_TAG_VER -t $DOCKER_HUB_FM_IMAGE:latest --push .

.deploy-template:
  <<: *filter-release
  interruptible: true
  stage: deploy
  before_script:
  - apk upgrade --update --no-cache && apk add --update --no-cache openssh
  - eval $(ssh-agent -s)
  - chmod 400 "$SSH_PRIVATE_KEY"
  - ssh-add "$SSH_PRIVATE_KEY"
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - cp "$SSH_KNOWN_HOSTS" ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  script:
    - >
      ssh ubuntu@shellyfl-t0-eu.shelly.cloud
      "cd /home/ubuntu/deployments && docker compose pull && docker compose up -d fleet-management-staging"

deploy---job-staging:
  extends: .deploy-template
  variables:
    ENV: "staging"
    BRANCH: "master"
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'

deploy---job-mercury:
  extends: .deploy-template
  variables:
    ENV: "mercury"
    BRANCH: "mercury"
  rules:
    - if: '$CI_COMMIT_BRANCH == "mercury"'

deploy---job-venus:
  extends: .deploy-template
  variables:
    ENV: "venus"
    BRANCH: "venus"
  rules:
    - if: '$CI_COMMIT_BRANCH == "venus"'
