name: fleet-manager

services:
  timescale-fleet-manager:
    restart: unless-stopped
    container_name: timescale-fleet-manager
    image: timescale/timescaledb:latest-pg16
    volumes:
      - timescale-fleet-manager-v:/var/lib/postgresql/data
    ports:
      - "5434:5432"
    environment:
      POSTGRES_PASSWORD: mysecretpassword
    networks:
      - fleet-net
    tty: true
    stdin_open: true
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "5"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 30s
      timeout: 5s
      retries: 5

  fleet-management-fc0923d4b5bb24eba7fd84f5c5c93889-db-init:
    image: timescale/timescaledb:latest-pg16
    networks:
      - fleet-net
    depends_on:
      timescale-fleet-manager:
        condition: "service_healthy"
    command:
      - /bin/sh
      - -c
      - |
        psql postgres://postgres:mysecretpassword@timescale-fleet-manager:5432 \
          -c "CREATE DATABASE \"fc0923d4b5bb24eba7fd84f5c5c93889\";" \
          -c "\\connect \"fc0923d4b5bb24eba7fd84f5c5c93889\";" \
          -c "CREATE USER \"fc0923d4b5bb24eba7fd84f5c5c93889\" WITH ENCRYPTED PASSWORD 'fc0923d4b5bb24eba7fd84f5c5c93889';" \
          -c "GRANT ALL PRIVILEGES ON DATABASE \"fc0923d4b5bb24eba7fd84f5c5c93889\" TO \"fc0923d4b5bb24eba7fd84f5c5c93889\";" \
          -c "GRANT ALL ON SCHEMA _timescaledb_cache TO \"fc0923d4b5bb24eba7fd84f5c5c93889\";" \
          -c "GRANT ALL ON SCHEMA _timescaledb_catalog TO \"fc0923d4b5bb24eba7fd84f5c5c93889\";" \
          -c "GRANT ALL ON SCHEMA _timescaledb_config TO \"fc0923d4b5bb24eba7fd84f5c5c93889\";" \
          -c "GRANT ALL ON SCHEMA _timescaledb_debug TO \"fc0923d4b5bb24eba7fd84f5c5c93889\";" \
          -c "GRANT ALL ON SCHEMA _timescaledb_functions TO \"fc0923d4b5bb24eba7fd84f5c5c93889\";" \
          -c "GRANT ALL ON SCHEMA _timescaledb_internal TO \"fc0923d4b5bb24eba7fd84f5c5c93889\";" \
          -c "GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA _timescaledb_cache TO \"fc0923d4b5bb24eba7fd84f5c5c93889\";" \
          -c "GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA _timescaledb_catalog TO \"fc0923d4b5bb24eba7fd84f5c5c93889\";" \
          -c "GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA _timescaledb_config TO \"fc0923d4b5bb24eba7fd84f5c5c93889\";" \
          -c "GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA _timescaledb_debug TO \"fc0923d4b5bb24eba7fd84f5c5c93889\";" \
          -c "GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA _timescaledb_functions TO \"fc0923d4b5bb24eba7fd84f5c5c93889\";" \
          -c "GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA _timescaledb_internal TO \"fc0923d4b5bb24eba7fd84f5c5c93889\";" \
        && \
        psql postgres://fc0923d4b5bb24eba7fd84f5c5c93889:fc0923d4b5bb24eba7fd84f5c5c93889@timescale-fleet-manager:5432/fc0923d4b5bb24eba7fd84f5c5c93889 \
          -c "CREATE SCHEMA IF NOT EXISTS migration AUTHORIZATION \"fc0923d4b5bb24eba7fd84f5c5c93889\";"

  fleet-management-fc0923d4b5bb24eba7fd84f5c5c93889:
    container_name: fleet-management-fc0923d4b5bb24eba7fd84f5c5c93889
    user: "${UID:-1000}"
    image: shellygroup/fleet-management:latest
    depends_on:
      timescale-fleet-manager:
        condition: "service_healthy"
      fleet-management-fc0923d4b5bb24eba7fd84f5c5c93889-db-init:
        condition: "service_completed_successfully"
    environment:
      FLEET_MANAGER_PORT: 7011
      fleet-manager_internalStorage__connection__host: timescale-fleet-manager
      fleet-manager_internalStorage__connection__user: fc0923d4b5bb24eba7fd84f5c5c93889
      fleet-manager_internalStorage__connection__password: fc0923d4b5bb24eba7fd84f5c5c93889
      fleet-manager_internalStorage__connection__database: fc0923d4b5bb24eba7fd84f5c5c93889
      PLUGINS_FOLDER: /app/backend/plugins
    volumes:
      - "/run/dbus:/run/dbus:z"
      - "fm-fc0923d4b5bb24eba7fd84f5c5c93889-backend-cfg-v:/app/backend/cfg/"
      - "./plugins/fc0923d4b5bb24eba7fd84f5c5c93889/frontend/:/app/frontend/src/pages/plugin/:rw"
      - "./plugins/fc0923d4b5bb24eba7fd84f5c5c93889/backend/:/app/backend/plugins/:rw"
    restart: unless-stopped
    networks:
      - fleet-net
    ports:
      - "7011:7011"
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

networks:
  fleet-net:

volumes:
  timescale-fleet-manager-v:
  fm-fc0923d4b5bb24eba7fd84f5c5c93889-backend-cfg-v:
