services:
  fleet-management-${host_md5}:
    container_name: fleet-management-${host_md5}
    user: "${UID:-1000}"
    image: shellygroup/fleet-management:latest
    depends_on:
      timescale-fleet-manager:
        condition: "service_healthy"
      fleet-management-${host_md5}-db-init:
        condition: "service_completed_successfully"
    environment:
      FLEET_MANAGER_PORT: 7011
      PLUGINS_FOLDER: /app/plugins
      fleet-manager_internalStorage__connection__host: timescale-fleet-manager
      fleet-manager_internalStorage__connection__user: ${host_md5}
      fleet-manager_internalStorage__connection__password: ${host_md5}
      fleet-manager_internalStorage__connection__database: ${host_md5}
      fleet-manager_graphs__grafana__endpoint: "http://grafana-${host_md5}:3000/grafana"
    volumes:
      - '/run/dbus:/run/dbus:z'
      - 'fm-${host_md5}-backend-cfg-v:/app/backend/cfg/'
      - './plugins/${host_md5}/frontend/:/app/frontend/src/pages/plugin/:rw'
      - './plugins/${host_md5}/backend/:/app/backend/plugins/:rw'
    restart: unless-stopped
    networks:
      - "fleet-net"
      - "fleet-net-local-${host_md5}"
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 1024M
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

  fleet-management-${host_md5}-db-init:
    image: timescale/timescaledb:latest-pg16
    networks:
      - fleet-net
    depends_on:
      timescale-fleet-manager:
        condition: "service_healthy"
    command:
      - /bin/sh
      - -c
      - |
        psql postgres://postgres:mysecretpassword@timescale-fleet-manager:5432 -c "CREATE DATABASE \"${host_md5}\";" -c "\\connect \"${host_md5}\";" -c "CREATE USER \"${host_md5}\" WITH ENCRYPTED PASSWORD '${host_md5}';" -c "GRANT ALL PRIVILEGES ON DATABASE \"${host_md5}\" TO \"${host_md5}\";" -c "GRANT ALL ON SCHEMA _timescaledb_cache TO \"${host_md5}\"";" -c "GRANT ALL ON SCHEMA _timescaledb_catalog TO \"${host_md5}\"";" -c "GRANT ALL ON SCHEMA _timescaledb_config TO \"${host_md5}\"";" -c "GRANT ALL ON SCHEMA _timescaledb_debug TO \"${host_md5}\"";" -c "GRANT ALL ON SCHEMA _timescaledb_functions TO \"${host_md5}\"";" -c "GRANT ALL ON SCHEMA _timescaledb_internal TO \"${host_md5}\"";" -c "GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA _timescaledb_cache TO \"${host_md5}\"";" -c "GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA _timescaledb_catalog TO \"${host_md5}\"";" -c "GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA _timescaledb_config TO \"${host_md5}\"";" -c "GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA _timescaledb_debug TO \"${host_md5}\"";" -c "GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA _timescaledb_functions TO \"${host_md5}\"";" -c "GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA _timescaledb_internal TO \"${host_md5}\"";" && psql postgres://${host_md5}:${host_md5}@timescale-fleet-manager:5432/${host_md5} -c "CREATE SCHEMA IF NOT EXISTS migration AUTHORIZATION \"${host_md5}\";"

  grafana-${host_md5}:
    container_name: grafana-${host_md5}
    image: grafana/grafana-oss
    restart: unless-stopped
    environment:
      GF_INSTALL_PLUGINS: "grafana-clock-panel,grafana-simple-json-datasource"
      GF_AUTH_ANONYMOUS_ENABLED: true
      GF_AUTH_ANONYMOUS_ORG_ROLE: "Admin"
      GF_server_protocol: "https"
      GF_SERVER_ROOT_URL: "https://%(domain)s/grafana/"
      GF_SERVER_SERVE_FROM_SUB_PATH: true
      GF_SECURITY_ALLOW_EMBEDDING: true
    volumes:
      - 'grafana-${host_md5}-data:/var/lib/grafana'
    tty: true
    stdin_open: true
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "5"
    networks:
      fleet-net-local-${host_md5}:
        aliases:
          - grafana
      db:
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: '500M'

networks:
  fleet-net-local-${host_md5}:

volumes:
  grafana-${host_md5}-data:
  fm-${host_md5}-backend-cfg-v: