@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: black;
    --background-image: none;
}

body {
    @apply text-gray-200 bg-transparent;
}

.background {
    filter: brightness(0.2);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: var(--background-image, url('https://control.shelly.cloud/images/home_def/app_bg_01.png'));
    background-color: var(--background-color, rgba(0, 0, 0, 0.5));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -10;
}

/* Others */
.icon-text>.icon {
    margin-right: 0.5rem;
}

.dropdown-box:not(:last-child) {
    margin-bottom: 0.5rem;
}

.tag {
    font-size: 0.75rem;
}

.input {
    @apply border bg-slate-800 p-1 rounded-sm mb-2 border-gray-300 text-gray-300
}

.search-bar-focused {
    max-width: 170px;
    transition: width 0.3s ease-in-out;
}

.search-bar {
    max-width: 80px;
    transition: width 0.3s ease-in-out;
}

.widget-grid {
    --min-grid-item-width: 180px;
    --min-grid-item-height: 180px;
    display: grid;
    gap: 0.75rem;
    grid-template-columns: repeat(auto-fill, minmax(var(--min-grid-item-width), 1fr));
    grid-template-rows: minmax(var(--min-grid-item-height), auto);
    justify-items: stretch;
}
.widget-grid-entities {
    display: grid;
    gap: 0.75rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: minmax(80px, auto);
    justify-items: stretch;
}
.widget-grid-devices {
    --min-grid-item-width: 180px;
    --min-grid-item-height: 180px;
    display: grid;
    gap: 0.75rem;
    grid-template-columns: repeat(auto-fill, minmax(var(--min-grid-item-width), 1fr));
    grid-template-rows: minmax(var(--min-grid-item-height), auto);
    justify-items: stretch;
}


::-webkit-scrollbar:horizontal {
    height: 8px;
    width: 8px;
    /* display: none; */
}
/* ===== Scrollbar CSS ===== */

/* Default scrollbar for mobile devices (gray color) */
::-webkit-scrollbar {
    width: 6px; 
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.21);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(107, 114, 128);
    border-radius: 10px;
}

@media (min-width: 768px) {
    ::-webkit-scrollbar-thumb {
        background: rgb(30, 64, 175); 
    }
}

::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0.21); 
}

/* Autofill fix */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    box-shadow: 0 0 0 30px rgb(33, 33, 33) inset !important;
    -webkit-text-fill-color: rgb(225, 225, 225) !important;
    -webkit-box-shadow: 0 0 0 30px rgb(33, 33, 33) inset !important;
}

/* Hide scrollbar */
@layer utilities {

    /* Hide scrollbar for Chrome, Safari, and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge, and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none;   /* Firefox */
    }
}
